debug.txt
pyrightconfig.json
benchmark/benchmark_results/*
benchmark/datasets/*
profile_data/*
*.html
*.pdf
*.mp3
*.env
.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.vscode/
# C extensions
*.so

# Ruff stuff:
.ruff_cache/
